.banner-principal {
    color: var(--branco);

    height: 70vh;

    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;

    /* background-repeat: no-repeat; */

    /* overflow: hidden; evita que os elementos transbordem */

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;
}

.texto-banner {
    height: 100%;
    /* para centralizar o container, é preciso que ele tenha 100% do tamanho do pai */

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 60%;
}

.botao {
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}

.botao:hover {
    background-color: #2ab2ab;
    color: var(--branco);
}

.banner-principal img {
    align-self: flex-end;
    width: 35%;
}

/* ******************* TÍTULO DAS SEÇÕES ********************** */

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.titulo-secao span {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
}

/* ******************* SEÇÃO BENEFÍCIOS ********************** */

.beneficios {
    padding: 50px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    gap: 100px;
}

.beneficios-lista {
    display: grid;

    grid-template-columns: repeat(3, 20%);

    gap: 10%;

    justify-content: center;

}

.beneficio {

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px;
    /* em cima -> direita e esquerda -> em baixo */

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;

    /* x -> y -> blur (desfoque) -> cor com transparência */
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);

    text-align: center;

    /* Cria referência de posicionamento para o ícone, quando o ícone for posicionado usa esse card como referência */
    /* sem isso, o círculo poderia usar outro elemento da página como referência e sair passeando pelo layout */
    position: relative;
}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);

    border-radius: 50%;

    width: 30%;
    height: 30%;

    /* Retira o ícone do fluxo normal. Com o absolute ele pode ficar por cima do card */
    position: absolute;

    /* Move o elemento para cima. O valor negativo faz ele sair parcialmente do card */
    top: -15%;

    /* Coloca o começo do elemento (da esquerda pra direita) em 50% da largura do card (linha horizontal de cima para baixo)*/
    left: 50%;

    /* ajustamos o posicionamento do elemento em 50% da largura do card */
    transform: translateX(-50%);

    /* ajustamos o posicionamento do elemento, mas a borda esquerda do circulo fica no centro, não o círculo inteiro */
    display: grid;

    /* place-items: center; é a mesma coisa que colocar alignt-items: center; e justify-items: center; */
    place-items: center;
}

.beneficio h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;
}

.beneficio p {
    font-size: 1em;
    width: 80%;
}

/* BANNER MEIO */

.banner-meio {
    height: 60vh;

    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;

    display: flex;
    justify-content: flex-end;

    padding: 0 120px;
    color: var(--branco);
}

/** ************* TOP LIVROS RECOMENDADOS ************* */
/* 
.engloba-livros {
    display: flex;
    gap: 50px;
}

.livros {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
}

.livros h3 {
    margin-top: 10px;
    width: 70%;
    text-align: center;
    height: 90%;
}

.livros h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.livros-img img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

/* ******************* FOOTER ************************ */

/* footer {
    padding: 20px;
}

.logos img {
    object-fit: fill;
}

.logos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
}

.rodape {
    background-color: #26333d;
    display: grid;
    padding: 50px 170px;
    padding-top: 150px;
    margin-top: 80px;
}

.footer-partedecima {
    display: flex;
    justify-content: space-between;
}

.rodape span {
    display: flex;
    width: 100%;
    margin: 90px auto 55px auto;
    height: 1px;
    background-color: var(--branco);
}

.rodape-lado-direito {
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    gap: 80px 150px;
    align-items: center;
}

.rodape-lado-direito h3 {
    color: #2fd6cb;
    margin-bottom: 15px;
    font-weight: 500;
}

.rodape-lado-direito p {
    font-weight: 300;
    color: #fff;
}

.rodape-textos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logos-social {
    display: flex;
    justify-content: space-between;
}

.texto-cantodireito {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.rodape-texto-finaldapag p {
    color: white;
    font-weight: 300;
}

.rodape-texto-finaldapag {
    display: flex;
    justify-content: space-between;
} */

/* ******************* CODIGO PROF ************************ */
/** ************* TOP LIVROS RECOMENDADOS ************* */

.acervo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 100px;
    padding: 50px 120px;
}

.livros {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 5%;
}

.livro {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    gap: 20px;

    text-align: center;
}

.livro img {
    height: 300px;
}

.livro h3 {
    text-transform: uppercase;
    font-size: 1em;
    width: 65%;
}

.livro-texto {
    font-size: 0.8em;
}