.banner-principal {
    color: var(--branco);

    height: 70vh;

    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;

    /** background-repeat: no-repeat; */

    /** overflow: hidden; evita que os elementos transbordem */

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;
}

.texto-banner {
    height: 100%;
    /** para centralizar o container, é preciso que ele tenha 100% do tamanho do pai */

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 60%;
}

.botao {
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}

.botao:hover {
    background-color: #2ab2ab;
    color: var(--branco);
}

.banner-principal img {
    align-self: flex-end;
    width: 35%;
}

/* ******************* TÍTULO DAS SEÇÕES ********************** */

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.titulo-secao span {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
}

/* ******************* SEÇÃO BENEFÍCIOS ********************** */

.beneficios {
    padding: 50px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    gap: 100px;
}

.beneficios-lista {
    display: grid;

    grid-template-columns: repeat(3, 20%);

    gap: 10%;

    justify-content: center;

}

.beneficio {

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px;
    /** em cima -> direita e esquerda -> em baixo */

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;

    /** x -> y -> blur (desfoque) -> cor com transparência */
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);

    text-align: center;

    /** Cria referência de posicionamento para o ícone, quando o ícone for posicionado usa esse card como referência */
    /** sem isso, o círculo poderia usar outro elemento da página como referência e sair passeando pelo layout */
    position: relative;
}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);

    border-radius: 50%;

    width: 30%;
    height: 30%;

    /** Retira o ícone do fluxo normal. Com o absolute ele pode ficar por cima do card */
    position: absolute;

    /* *Move o elemento para cima. O valor negativo faz ele sair parcialmente do card */
    top: -15%;

    /** Coloca o começo do elemento (da esquerda pra direita) em 50% da largura do card (linha horizontal de cima para baixo)*/
    left: 50%;

    /** ajustamos o posicionamento do elemento em 50% da largura do card */
    transform: translateX(-50%);

    /** ajustamos o posicionamento do elemento, mas a borda esquerda do circulo fica no centro, não o círculo inteiro */
    display: grid;

    /** place-items: center; é a mesma coisa que colocar alignt-items: center; e justify-items: center; */
    place-items: center;
}

.beneficio h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;
}

.beneficio p {
    font-size: 1em;
    width: 80%;
}

/** BANNER MEIO */

.banner-meio {
    height: 60vh;

    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;

    display: flex;
    justify-content: flex-end;

    padding: 0 120px;
    color: var(--branco);
}

/* ******************* MEU CÓDIGO ************************ */

/** ************* TOP LIVROS RECOMENDADOS ************* */
/* 
.engloba-livros {
    display: flex;
    gap: 50px;
}

.livros {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
}

.livros h3 {
    margin-top: 10px;
    width: 70%;
    text-align: center;
    height: 90%;
}

.livros h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.livros-img img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

/* ******************* FOOTER ************************ */

/* footer {
    padding: 20px;
}

.logos img {
    object-fit: fill;
}

.logos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
}

.rodape {
    background-color: #26333d;
    display: grid;
    padding: 50px 170px;
    padding-top: 150px;
    margin-top: 80px;
}

.footer-partedecima {
    display: flex;
    justify-content: space-between;
}

.rodape span {
    display: flex;
    width: 100%;
    margin: 90px auto 55px auto;
    height: 1px;
    background-color: var(--branco);
}

.rodape-lado-direito {
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    gap: 80px 150px;
    align-items: center;
}

.rodape-lado-direito h3 {
    color: #2fd6cb;
    margin-bottom: 15px;
    font-weight: 500;
}

.rodape-lado-direito p {
    font-weight: 300;
    color: #fff;
}

.rodape-textos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logos-social {
    display: flex;
    justify-content: space-between;
}

.texto-cantodireito {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.rodape-texto-finaldapag p {
    color: white;
    font-weight: 300;
}

.rodape-texto-finaldapag {
    display: flex;
    justify-content: space-between;
} */

/* ******************************************************************** */

/** ************* TOP LIVROS RECOMENDADOS ************* */

.acervo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    gap: 100px;
    padding: 50px 120px;
}

.livros {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 5%;
}

.livro {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    
    text-align: center;
}

.livro img {
    height: 300px;
}

.livro h3 {
    text-transform: uppercase;
    font-size: 1em;
    width: 65%;
}

.livro-texto {
    font-size: 0.8em;
}

/* ****************************  FOOTER **************************************** */

/* footer - feito pelos alunos */

footer{
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 100px 120px 30px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.rodape-logos {
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.rodape-informacoes {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.nav-footer  {
    display: flex;
    flex-direction: column;
}

.nav-footer p {
    color: var(--cor-destaque);
    margin-bottom: 20px;

}
.nav-footer a {
    color: var(--branco);
    margin-bottom: 10px;
}

.icones {
    display: flex;
    gap: 20px;
}

footer span {
    display: flex;
    margin: 50px 0;
    background-color: white;
    height: 1px;
    width: 100%;
}

.footer-inferior {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.rodape-informacoes p {
    color: var(--cor-destaque);
    font-size: 1em;
    font-weight: 700;
    width: 100%;
}

.footer-inferior {
    display: flex;
}

/** RESPONSIVIDADE */
.botao-menu {
    display: none;  /** esconde o elemento */
    background: transparent;
    border: none;
    cursor: pointer;
}

.botao-menu i {
    font-size: 2em;

    color: var(--branco);
    border-radius: 10px;
}

/** RESPONSIVIDADE COM TAMANHOS -> MEDIA QUERY */

@media (max-width: 1024px) {

    html {
        font-size: 12px;
    }

    .cabecalho img {
        width: 60%;
    }

    .texto-banner h1 {
        text-align: center;
    }

    /** BENEFÍCIOS */

    .beneficios {
        gap: 50px;

        padding: 30px 0;

        overflow: hidden;
    }

    .beneficios-lista {
        grid-template-columns: repeat(3, 30%);

        overflow-x: scroll; /* permite que o objeto role para o lado */

        padding: 50px 20px;

        justify-content: flex-start;
    }

    .beneficios-lista::-webkit-scrollbar {
        display: none;
    }

    .beneficio {
        padding: 80px 10px 50px;
    }

    .beneficio h3 {
        margin-bottom: 25px;
        width: 60%;
    }

    .beneficio p {
        width: 60%;
    }

    /** BANNER MEIO */
    .banner-meio {
        background-position: center;
        padding: 0 30px;
    }

    .banner-meio .texto-banner {
        align-items: flex-end;
    }

    .banner-meio .texto-banner p {
        text-align: right;
    }

    /** ACERVO */
    .acervo {
        padding: 70px 40px;
        gap: 50px;
    }

    .livros {
        /** quando a imagem chega a 150px, ela não diminui mais. em vez disso, o container vai pra linha de baixo, quebrando a linha */
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

        gap: 40px 20px;

        /* no caso de o display ser flex, coloca-se:
                "flex-wrap: wrap;"

                e no

            .article
                max-width: 100%;
        */
    }

    .livro img {
        max-width: 100%;
    }

    .livro h3 {
        font-size: 1.2em;
    }

    .livro-texto {
        font-size: 1em;
    }

}

@media (max-width: 768px) {

    .cabecalho {
        padding: 0 40px;

        position: relative;
    }

    .botao-menu {
        /** Faz o menu hamburger aparecer novamente */
        display: flex;
    }

    .navegacao {
        background-color: var(--azul-escuro);

        position: absolute;

        /* distância de 10vh do topo */
        top: 10vh;

        /* encosta na esquerda */
        left: 0;

        width: 100%;
        height: auto;

        padding: 40px;

        border-radius: 0 0 0 30px;

        flex-direction: column;
        align-items: flex-end;

        gap: 20px;

        /** só funciona com position. Quanto maior o z-index, mais pra cima o elemento fica */
        z-index: 100;

        display: none;

    }

    /* Elemento com duas classes não tem espaço */
    .navegacao.ativo {
        display: flex;
    }

    /** BANNER PRINCIPAL */

    .banner-principal {
        height: 50vh;

        padding: 30px 0 10px 0;

        position: relative;
    }

    .banner-principal .texto-banner {
        width: 100%;
        height: 100%;

        align-items: center;
        justify-content: space-between;
    }

    .banner-principal .texto-banner h1 {
        font-size: 2em;
    }

    .banner-principal .texto-banner p {
        display: none;
    }

    .banner-principal img {
        width: 40%;

        position: absolute; /* faz a mulher "flutuar" */
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        z-index: 1;
    }

    .banner-principal .botao {
        padding: 20px 40px;

        font-size: 1.2em;

        z-index: 2;
    }

    /** BENEFÍCIOS */
    .beneficios-lista {
        grid-template-columns: repeat(3, 45%);
    }

    .beneficio-icone img {
        width: 40%;
    }

    /** BANNER DO MEIO */
    .banner-meio .texto-banner {
        display: none;
    }

    /** FOOTER */
    footer {
        padding: 50px 30px;
    }

    footer .main {
        gap: 100px;
    }

    .rodape-logos {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        gap: 30px;
    }

    .rodape-logos img {
        width: 40%;
    }

    .rodape-informacoes {
        gap: 30px;
    }

    .rodape-informacoes p {
        font-size: 1.5em;
    }

    .nav-footer a, .footer-inferior {
        font-size: 1.2em;
    }

    footer span {
        margin: 50px 0 30px;
    }

    .footer {
        flex-direction: column;
        text-align: right;
    }

}

@media (max-width: 500px) {

    .banner-principal img {
        width: 80%;
    }

    .beneficios-lista {
        grid-template-columns: repeat(3, 65%);
    }

    .beneficio-icone {
        width: 35%;
    }

    .banner-meio {
        background-position: 40%;
    }

    footer .main {
        gap: 50px;
    }

    .rodape-informacoes {
        display: flex;
        flex-direction: column;
    }

    .rodape-logos {
        align-items: flex-start;
        flex-direction: column;
    }

    .rodape-logos img {
        width: 100%;
    }

    .rodape-icones {
        display: flex;
        gap: 10px;
    }

    .rodape-icones img {
        width: 80%;
    }

    .footer-inferior {
        flex-direction: column;
        gap: 40px;
    }

    .footer {
        gap: 10px;
        text-align: left;
    }
}